@media (max-width:768px){
    .home-wrapper {
        background-color: #120E43;
        width: 95%;
        height: 100%;
        margin-top: 20px;
        padding-bottom: 10px;
        .banner-img {
            width: 70%;
        }
        .field-wrapper-outer {
            width: 100%;
        }
    }
    
}